body{
    background-color: silver; 
}
.l0{
    width: 650px;
    height: 700px;
    background-color: aliceblue;
    margin: auto;
   
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.n1{
    width: 200px;
    height: 50px;
    background-color: black;
    font-family: 'Amatic SC', cursive;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 12px;
    
}
.n2{
    width: 390px;
    height: 260px;
    background-color: black;
    margin-left: 5px;
    margin-top: -30px;
}
.n3{
    width: 185px;
    height: 90px;
   
    margin-left: 445px;
    margin-top: -600px;
    color: black;
}
.n4{
    width: 60px;
    height: 60px;
    background-color: black;
 margin-left: 10px;
}
a{color: white;font-size: 20px;}
a:link{text-decoration: none;}
a:hover{color: yellow;}